$default_font: Helvetica, Arial, sans-serif
$header_font: "Permanent Marker", $default_font
$body_width: 40em
$background: #fff

html
  background: $background

body
  padding: 1em
  margin: 0 auto
  width: $body_width
  font-family: $default_font

h1, h2, h3, h4, h5, h6
  font-family: $header_font

h1
  margin-top: 0
  a
    color: #000
    text-decoration: none

hgroup
  h1, h2, p
    margin: 0

#followme
  nav
    text-align: center
    ul
      display: inline
      li
        display: inline
        &:before
          content: " [ "
        &:after
          content: " ] "

  a
    color: #000
  a:hover
    color: #f00

dt
  font-weight: bold
  margin-top: 1em
  a
    text-decoration: none
    color: #000
  time
    font-weight: normal
    font-size: 0.75em
