html { margin: 0; padding: 0 }

body {
    font-family: sans-serif;
    max-width: 70em;
    margin: 1em auto;
}

h1 > a, h2 > a {
    color: black;
    text-decoration: none;
}

h1 > a:hover, h2 > a:hover {
    border-bottom: 1px dotted #93a1a1;
}

pre {
    border-radius: 1em;
    font-family: monospace;
    padding: 1em;
    background: #fdf6e3;
    color: #002833;
    overflow: auto;
}

article {
    position: relative;
}

article > aside  {
    position: absolute;
    top: 0;
    right: 0;
    width: 10em;
    font-size: 0.8em;
}

.toc ul {
    margin: 0;
    padding: 0;
    list-style: disc;
}

.toc ul li {
    margin: 0;
    padding: 0 0.5em;
}

.meta {
    font-size: 0.75em;
}

.meta .tags {
    float: right;
}

#social a {
    color: #93a1a1;
}

#social ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

#social li {
    display: inline;
    padding: 0 0.5em;
}

footer {
    margin-top: 0.5em;
    border-top: 1px dotted #93a1a1;
    padding-top: 0.5em;
}

#next-prev {
    padding: 0.5em 0;
}

#next-prev .next {
    float: right;
}

article.draft {
    background: url(/images/draft.png);
}

/* based on perldoc */
/* Background */           .chroma        { background-color: #fdf6e3; }
/* Error */                .chroma .ss4   { color: #a61717; background-color: #e3d2d2; }
/* LineHighlight */        .chroma .hl    { background-color: #ffffcc; display: block; width: 100%; }
/* LineNumbers */          .chroma .ln    { color: #93a1a1; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;; }
/* Keyword */              .chroma .s3e8  { color: #8b008b; font-weight: bold; }
/* KeywordType */          .chroma .s3ee  { color: #00688b; font-weight: bold; }
/* NameAttribute */        .chroma .s7d1  { color: #658b00; }
/* NameBuiltin */          .chroma .s7d2  { color: #658b00; }
/* NameClass */            .chroma .s7d4  { color: #008b45; font-weight: bold; }
/* NameConstant */         .chroma .s7d5  { color: #00688b; }
/* NameDecorator */        .chroma .s7d6  { color: #707a7c; }
/* NameException */        .chroma .s7d8  { color: #008b45; font-weight: bold; }
/* NameFunction */         .chroma .s7d9  { color: #008b45; }
/* NameNamespace */        .chroma .s7dd  { color: #008b45; }
/* NameTag */              .chroma .s7e2  { color: #8b008b; font-weight: bold; }
/* NameVariable */         .chroma .s7e3  { color: #00688b; }
/* LiteralString */        .chroma .sc1c  { color: #cd5555; }
/* LiteralStringHeredoc */ .chroma .sc26  { color: #1c7e71; font-style: italic; }
/* LiteralStringOther */   .chroma .sc29  { color: #cb6c20; }
/* LiteralStringRegex */   .chroma .sc2a  { color: #1c7e71; }
/* LiteralNumber */        .chroma .sc80  { color: #b452cd; }
/* OperatorWord */         .chroma .sfa1  { color: #8b008b; }
/* Comment */              .chroma .s1770 { color: #228b22; }
/* CommentSpecial */       .chroma .s1774 { color: #8b008b; font-weight: bold; }
/* CommentPreproc */       .chroma .s17d4 { color: #1e889b; }
/* GenericDeleted */       .chroma .s1b59 { color: #aa0000; }
/* GenericEmph */          .chroma .s1b5a { font-style: italic; }
/* GenericError */         .chroma .s1b5b { color: #aa0000; }
/* GenericHeading */       .chroma .s1b5c { color: #000080; font-weight: bold; }
/* GenericInserted */      .chroma .s1b5d { color: #00aa00; }
/* GenericOutput */        .chroma .s1b5e { color: #888888; }
/* GenericPrompt */        .chroma .s1b5f { color: #555555; }
/* GenericStrong */        .chroma .s1b60 { font-weight: bold; }
/* GenericSubheading */    .chroma .s1b61 { color: #800080; font-weight: bold; }
/* GenericTraceback */     .chroma .s1b62 { color: #aa0000; }
/* TextWhitespace */       .chroma .s1f41 { color: #bbbbbb; }

/* iPad & iPad Mini */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    body { width: 700px; }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
    body { width: 1000px; }
}

/* iPad Pro */
@media screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1) {
    body { width: 900px; }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
    body { width: 1300px; }
}

/* iPhone 5 */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation:portrait) {
    body { width: 300px; }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation: landscape) {
    body { width: 500px; }
}

/* iPhone 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation:portrait) {
    body { width: 355px; }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
    body { width: 600px; }
}

/* iPhone 6 Plus */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation:portrait) {
    body { width: 390px; }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
    body { width: 700px; }
}

/* Google Pixel */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation:portrait) {
    body { width: 340px; }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: landscape) {
    body { width: 620px; }
}
