<!doctype html>
<html lang="es">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="author" content="Leandro Mariano López (inkel)">
    <link href="http://www.google.com/profiles/inkel.ar" rel="me" type="text/html">
    <link href="http://fonts.googleapis.com/css?family=Cantora+One" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/syntax.css">
  </head>
  <body>
    <h1>
      <a href="/">Leandro López (inkel)</a>
    </h1>

    {{ content }}

    <section id="followme">
      <nav>
        <ul>
          <li><a href="http://github.com/inkel">GitHub</a></li>
          <li><a href="http://twitter.com/inkel">Twitter</a></li>
          <li><a href="http://flickr.com/inkel">Flickr</a></li>
        </ul>
      </nav>
    </section>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22300706-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
