<!doctype html>
<html lang="es">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="author" content="Leandro Mariano López (inkel)">
    <link href="http://www.google.com/profiles/inkel.ar" rel="me" type="text/html">
    <link href="http://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/syntax.css">
  </head>
  <body>
    <h1>
      <a href="/">Leandro López (inkel)</a>
    </h1>

    {{ content }}

    <section id="followme">
      <nav>
        <ul>
          <li><a href="http://github.com/inkel">GitHub</a></li>
          <li><a href="http://twitter.com/inkel">Twitter</a></li>
          <li><a href="http://flickr.com/inkel">Flickr</a></li>
        </ul>
      </nav>
    </section>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      // try { _gat._getTracker("UA-22300706-1")._trackPageview(); } catch(err) {}
    </script>
  </body>
</html>
